.card {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #f4f4f4;
  text-align: center;
  -webkit-box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
  -moz-box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
  box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
}

.card-header {
  font-weight: 100;
  line-height: 1.5;
}

.card-description,
.card-price,
.card-location {
  line-height: 1.5;
}

.card-description {
  font-size: 1.2rem;
}

.card-price {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: monospace;
}

.card-location {
  font-size: 0.9rem;
  font-family: monospace;
}
