.options {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  -webkit-box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
  -moz-box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
  box-shadow: 5px 4px 10px -9px rgba(85, 85, 85, 1);
}

.options-header {
  margin: 10px 0;
  font-weight: 100;
  letter-spacing: 2px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.options-small {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 10px;
}

.options-label {
  width: 30%;
}

.options-select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  color: #555;
  cursor: pointer;
}

@media (max-width: 520px) {
  .options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .options-label {
    width: 100%;
  }
}
